body {
  background-color: #000000;
}
#faq {
  padding: 20px;

  color: #ff3333;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.toggle-btn {
  font-size: 20px;
  font-weight: bold;
}

.answer {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.answer p {
  margin: 0;
}
