body {
  background-color: #000000;
}
#schedule-service {
  color: #ff3333;
  padding: 40px 20px;
}
.back {
  color: #ff3333;
}
.service-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: bold;
  color: #333;
}

select,
input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

.cta {
  margin-top: 20px;
}

button {
  background-color: #ff3333;
  color: #fff;
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8c0303;
}
